# .gitignore generator
# https://www.toptal.com/developers/gitignore

# Backup files
Backup/
backup/
*.bak*

# Temporary files
*.tmp
*.dat
*.log

# Secret files
*.env
.secret
*.database
*.db
*.sqlite
*.sqlite3
dump.*
*.key
*.pem
id_rsa
id_ed25519

# AWS, GCP, Azure, Clound Credential file
credentials.csv
google-service-account.json
aws_access_key_id

# Shortcut link files
*.lnk
*.url

# Builded files
Thumbs.db
.DS_Store
Build/
build/
*.exe
*.msi
*.jar
*.swp
